{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="row col s6 push-s3">
            <div class="col s12"><h2>Password recovery</h2></div>
            {{ form_start(form, {'class': 'col s12', 'id': "recovery-form-send"}) }}
                <div class="input-field col s12">
                    {{ form_row(form.email, { 'class': 'validate' }) }}
                </div>
                <input type="submit" class="btn btn-block" value="{{ btn_send_text }}">
                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}

{% if error %}
    {% block javascripts %}
        {{ parent() }}
        {% include 'form-error.html.twig' with {'error': error} %}
    {% endblock %}
{% endif %}