{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.sku) }}
        <button type="submit">Add!</button>
    {{ form_end(form) }}
{% endblock %}