{% form_theme productForm 'form/fields.html.twig' %}

{{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.category) }}
    {{ form_row(productForm.sku) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.isActive) }}

    <button type="submit" class="btn" formnovalidate>{{ buttonText }}</button>
    <a href="{{ path('admin_product_list') }}" class="btn red lighten-1">Cancel</a>
{{ form_end(productForm) }}
