{% form_theme productForm 'form/fields.html.twig' %}

{{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.category) }}
    {{ form_row(productForm.sku) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.isActive) }}

    <button type="submit" class="btn" formnovalidate>{{ buttonText }}</button>
    <button type="button" class="btn red lighten-1" onclick="history.back(-1)">Cancel</button>
{{ form_end(productForm) }}
