{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row valign-wrapper">
                    <div class="col s9 valign left"><h2>Products</h2></div>
                    <div class="col s3 valign">
                        {% if is_granted("ROLE_MANAGE_PRODUCT") %}
                            <a href="{{ path('admin_product_new') }}" class="btn right">
                                <i class="material-icons right">add_circle_outline</i>product
                            </a>
                        {% endif %}
                    <div class="col s9 valign"><h2>Products</h2></div>
                    <div class="col s2 valign">
                        <a href="{{ path('admin_product_new') }}" class="btn left"><i class="material-icons left">add_circle_outline</i>product</a>
                    </div>
                    <div class="col s3 valign">
                        <a href="{{ path('admin_category_new') }}" class="btn right"><i class="material-icons left">add_circle_outline</i>category</a>
                    </div>
                </div>
                <div class="col s12">

                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th data-field="product">Product</th>
                                <th>Category</th>
                                <th>SKU</th>
                                <th>Description</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                {% if is_granted("ROLE_MANAGE_PRODUCT") %}
                                    <th> </th>
                                    <th> </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    <a href="#modal{{ product.id }}">{{ product.id }}</a>
                                </td>
                                <div class="modal" id="modal{{ product.id }}">
                                    <div class="modal-content">
                                        <h4>{{ product.name }}</h4>
                                        <p>{{ product.description }}</p>
                                    </div>
                                </div>
                                <td>
                                    <a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.name }}</a>
                                </td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.sku }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.createdAt|date("d/m/Y") }}</td>
                                <td>{{ product.updatedAt|date("d/m/Y") }}</td>
                                {% if is_granted("ROLE_MANAGE_PRODUCT") %}
                                    <td>
                                        <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><i class="material-icons grey-text">edit</i></a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_product_delete', {'id': product.id}) }}"><i class="material-icons grey-text">delete</i></a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}

{% block javascripts %}
{{ parent() }}

    <script>
        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>

{% endblock %}