{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col s12">
                <div class="row valign-wrapper">
                    <div class="col s10 valign"><h2>Products</h2></div>
                    <div class="col s2 valign">
                        <a href="{{ path('admin_product_new') }}" class="btn">Add<i class="material-icons right">add_circle_outline</i></a>
                    </div>
                </div>
                <div class="col s12">

                    <table class="striped bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th data-field="product">Product</th>
                                <th>Category</th>
                                <th>SKU</th>
                                <th>Description</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                {% if is_granted("ROLE_MANAGE_PRODUCT") %}
                                    <th> </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.sku }}</td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.createdAt|date("d/m/Y") }}</td>
                                <td>{{ product.updatedAt|date("d/m/Y") }}</td>
                                {% if is_granted("ROLE_MANAGE_PRODUCT") %}
                                <td>
                                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><i class="material-icons grey-text">edit</i></a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}