{% extends 'admin/product/formLayout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h2>Edit user</h2>

                {{ form_start(userForm) }}
                    {{ form_row(userForm.email) }}
                    {{ form_row(userForm.username) }}
                    {{ form_row(userForm.isActive) }}
                    {{ form_row(userForm.roles) }}

                <button type="submit" class="btn" formnovalidate>Save</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>
{% endblock %}