{{ form_start(categoryForm) }}
    {{ form_row(categoryForm.name) }}
    {{ form_row(categoryForm.parent) }}
    {{ form_row(categoryForm.active) }}

    <button type="submit" class="btn" formnovalidate>{{ buttonText }}</button>
    <a href="{{ path('admin_product_list') }}" class="btn red lighten-1">Cancel</a>
{{ form_end(categoryForm) }}