{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Login</h2>

                {% if message %}
                    <div class="card-panel green lighten-2">
                        {{ message }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form._username, { 'label': 'Email'}) }}
                    {{ form_row(form._password) }}

                    <button type="submit" class="btn">Login<i class="material-icons right">lock</i></button>
                    &nbsp;
                    <a href="{{ path('user_register') }}" class="btn">Register</a>
                    <a style="float: right" href="{{ path('password_recovery') }}">Forgot password?</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {% if error %}
            {% include 'form-error.html.twig' with {'error': error.messageKey|trans(error.messageData, 'security')} %}
        {% endif %}
    {% endblock %}