{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Login</h2>

                {% if error %}
                    <div class="card-panel red lighten-2">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}

                    <button type="submit" class="btn">Login<i class="material-icons right">lock</i></button>
                    &nbsp;
                    <a href="{{ path('user_register') }}" class="btn">Register</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}